/* Main body of website */
	body {
		font-family: "Times New Roman", Times, serif;
		line-height: 1.5;
		background-color: #bebebe;
		opacity: .85;
		border: 15px double #a56c21;
		padding: 80px;
		}
	#page {
		max-width: 1020px;
		min-width: 720px;
		margin: 10px auto 10px auto;
		padding: 20px;		
		}	

	#nav ul li {
		display: inline;
		padding: 10px;
		text-align: center;
		}		

	#tunes ol li {
		padding: 15px;
		text-align: center;
		list-style-type: lower-roman;
		line-height: .01;
		font-size: 20px;
		text-align:left;
		font-weight: normal;
		}
/* Headings H1 & H2 */		
	h1 { /* Main heading */
		font: 40px 'Libre Baskerville', serif;
		color: #4b6326;
		text-shadow: 2px 2px 8px #727272;
		padding: 5px;
		text-align: center;
		}
	h2 { /* Sub-headings */
		font-size: 22px;
		color: #a56c21;
		padding: 10px;
		text-align:left;
		}		
/* Paragraphs */
	p {
		color: #000000;
		width: 800px;
		padding: 10px;
		font-weight: normal;
		font-size: 20px;
		}
			
/* Aside area styling */	
	aside {
		padding: 15px;
		border: 8px double #ffffff;
		border-radius: 25px;
		box-shadow: 2px 2px 8px #727272;
		line-height: .05;
		text-align:center;
		}	
/* Pseudo Classes*/
	a:link{
		color: #4b6326;
		}
	a:visited{
		color: #5e5c58;
		}
	a:hover{
		color: #4045ba;
		}	
	a:active{
		color: #54a54c;
		}	
/* Image styling */	
# gallery img {
		border: 8px double #a56c21; 
		border-radius: 25px;	
		box-shadow: 2px 2px 8px #727272;
		}
			
/* Footer styling */	
	footer {
		width: 900px;
		padding: 15px;
		margin: 0px auto 0px auto;
		border-top: 2px solid #000;
		text-align:center;
		}	
	


	
