body {
	font-family: ;
	background-color: #bebebe;
	}
	
#page {
	max-width: 940px;
	min-width: 720px;
	margin: 10px auto 10px auto;
	padding:20px;
	border: 4px double #000
	background-color:#bebebe;	
h1 {
	font-size: px;
	color: ;
	}
	
h2 {font-size: px;
	color: ;
	}		
	
p {color: ;
	}