/* Main body of website */
	body {
		font-family: "Times New Roman", Times, serif;
		line-height: 1.5;
		background-color: #bebebe;
		opacity: .85;
		border: 15px double #a56c21;
		padding: 80px;
		background-image: url("../Images/pattern_129.gif");
		background-repeat: repeat;
		background-position: center;
		}
	#page {
		max-width: 95%;
		min-width: 60%;
		margin: 5% auto 5% auto;
		padding: 20px;	
		text-align: center;	
		}	
/*  Lists */
	#nav ul li {
		display: inline;
		padding: 10px;
		text-align: center;
		}		
	#tunes ol li {
		padding: 15px;
		text-align: center;
		list-style-type: lower-roman;
		line-height: .01;
		font-size: 20px;
		text-align:left;
		font-weight: bold;
		}
/* Headings H1 & H2 */		
	h1 { /* Main heading */
		font: 3.0em 'Libre Baskerville', serif;
		color: #4b6326;
		text-shadow: 2px 2px 8px #727272;
		padding: 5px;
		text-align: center;
		
		}
	h2 { /* Sub-headings */
		font-size: 1.75em;
		color: #a56c21;
		padding: 10px;
		text-align:center;
		font-style: italic;
		}	
		
/* Paragraphs */
	p {
		color: #000000;
		width: 90%;
		padding: 10px;
		font-size: 1.25em;
		text-align:left;
		background-color: #e5e5e5;
		
		}

	#tunes {
		background-image: url("../Images/celtic.gif");
		background-repeat: no-repeat;
		background-position: 50% 75%;
		background-size: 15% 55%;
		}
				
/* Aside area styling */	
	#aside {
		width: 28%;
		padding: 5px;
		border: 8px double #ffffff;
		border-radius: 25px;
		box-shadow: 2px 2px 8px #727272;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#93cede+0,75bdd1+41,49a5bf+100;Blue+3D+%235 */
		background: linear-gradient(to bottom,  #93cede 0%,#75bdd1 41%,#49a5bf 100%); /* W3C */
		margin: 5% auto 5% auto;
		}
	#more {
		text-align: center;
		color: #a56c21;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#93cede+0,75bdd1+41,49a5bf+100;Blue+3D+%235 */
		background: linear-gradient(to top,  #93cede 0%,#75bdd1 41%,#49a5bf 100%); /* W3C */
		}	
/* Pseudo Classes*/
	a:link{
		color: #4b6326;
		}
	a:visited{
		color: #5E5C58;
		}
	a:hover{
		color: #4045ba;
		}	
	a:active{
		color: #54a54c;
		}	
/* Image styling */	
	#gallery {
		height:75%;
		overflow: overflow;
		float: right;
		position: right;
		width: 25%;	
		box-shadow: 2px 2px 8px #727272;	
		padding:30px;
		margin: 20px;
		background-color: #a56c21;
		}
					
	.clear {
		clear: both;
		}	
/* Footer styling */	
	footer {
		width: 100%;
		border-top: 2px solid #000;
		}	
	#source {
		text-align:center;
		}	

/* Table */
	table {
		border-spacing: 0px;
		margin: 5% auto 5% auto;
		}
	thead {
		background-color:#a56c21;
		} 
	th, td {
		padding: 5px 30px 5px 10px;
		border-spacing: 0px;
		font-size:90%;
		margin: 0px;
		text-align: center;
		border-top: 1px solid;
		border-bottom: 1px solid;
		border-right: 1px solid;
		border-left: 1px solid;	
		}
	#odd {
		background-color: #93cede;
		}	
	#even {
		background-color: #e5e5e5;
		}